* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(to bottom, #5a91f7 0%, #96c0f8 100%);
}

.auth-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
}

a {
  text-decoration: none;
}
